@keyframes cbpw-lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cbpw-lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.cbpw-lds-dual-ring {
    position: relative;
}

.cbpw-lds-dual-ring div {
    box-sizing: border-box;
}

.cbpw-lds-dual-ring > div {
    position: absolute;
    width: 174px;
    height: 174px;
    top: 13px;
    left: 13px;
    border-radius: 50%;
    border: 14px solid #000;
    border-color: #0288d1 transparent #0288d1 transparent;
    -webkit-animation: cbpw-lds-dual-ring 5s linear infinite;
    animation: cbpw-lds-dual-ring 5s linear infinite;
}

.cbpw-lds-dual-ring > div:nth-child(2) {
    border-color: transparent;
}

.cbpw-lds-dual-ring > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cbpw-lds-dual-ring > div:nth-child(2) div:before,
.cbpw-lds-dual-ring > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -14px;
    left: 66px;
    background: #0288d1;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #0288d1;
}

.cbpw-lds-dual-ring > div:nth-child(2) div:after {
    left: -14px;
    top: 66px;
    box-shadow: 160px 0 0 0 #0288d1;
}

.cbpw-lds-dual-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}

.cbpw_loader {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
}

.cbpw_loader > div {
    width: 100px !important;
    margin: 0 auto !important;
}

.cbpw_check {
    width: 100% !important;
    text-align: center !important;
    display: none;
}

.cbpw_check img {
    margin: 0 auto !important;
    width: 100px !important;
}

.cbpw_payment_details {
    width: 100% !important;
    text-align: center !important;
}

.cbpw_payment_details .cbpw_qrcode_wrapper {
    text-align: center !important;
    margin: 1em auto !important;
    position: relative !important;
    display: inline-block !important;
}

.cbpw_payment_details .cbpw_qrcode_wrapper img {
    display: inline-block !important;
    border: 1px #686868 solid;
    border-radius: 0.4em;
    padding: 0.2em;
    background: #fff;
}

.cbpw_payment_details .cbpw_qrcode_wrapper .cbpw_inner-wrapper {
    z-index: 3 !important;
    position: relative !important;
}

.cbpw_payment_details .cbpw_qrcode_wrapper .cbpw_branding {
    font-size: 11px;
    font-family: "roboto", sans-serif;
    color: #666;
    position: absolute;
    bottom: -15px;
    right: 0;
    background: #ddd;
    padding: 20px 5px 2px 5px;
    border-radius: 0.4em;
    z-index: 2;
    border: 1px #777 solid;
}



.cbpw_payment_details .cbpw_details_box {
    width: 100%;
   
    text-align: center;
}

.cbpw_payment_pending {
    width: 100%;
    text-align: center;
    display: none;
}

.cbpw_payment_complete {
    width: 100%;
    text-align: center;
    display: none;
}
.cbpw_order_expired {
        width: 100%;
    text-align: center;
    display: none;
}


/*payment field css*/
.cbpw-pymentfield {
    display: table-cell;
    padding: 5px;
    text-align: center;
}
.cbpw-pymentfield img {
    left: 3%;
    display: block;
    top: 3px;
}
.cbpw-pymentfield input#cbpw_payment_method,  .cbpw-pymentfield img {
    margin: 0 auto !important;
}

.cbpw_payment_details .cbpw_qrcode_wrapper span.cbpw_banner img {
    border: none !important;
    height: 35px;
}
.cbpw_payment_details .cbpw_qrcode_wrapper span.cbpw_banner {
    display: inline-flex;
}
.cbpw_payment_details .cbpw_qrcode_wrapper span.cbpw_banner h2 {
    margin-bottom: 0px;
}